
body{
    min-height: 100vh;
    background-color: #eee;
    width: 100%;
    margin: 0px auto;
    padding: 0px auto;
    font-family: 'Arimo', sans-serif;
}
.navbar-brand{
    margin-right: 50px;
}
.navbar{
    padding: 25px;
    box-shadow: #eee 2px 2px 2px ;
}
.navbar-text{
    margin: 0px 20px;
}
.head-text{
    margin: 20px 0px;
}
.head-text h2{
    color: #1a1818;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0px;
}
.max-card{
    margin: 20px 0px;
}
.title{
    color: #58606d;
    font-weight: bold;
    font-size: 20px;
}
a.title:hover{
    text-decoration: underline;
    
}
.max-author{
    padding: 10px;
}
.max-author > i {
    margin:0px 10px;
}
.max-date-posted{
    padding: 10px;
}
.max-date-posted > i {
    margin: 0px 10px;
}

/** Single Page */
.max-single-card{
    margin: 40px;
}
.single-title{
    font-size: 15px; 
    text-align: center;
    padding: 2px;
    margin: 0px 20px;
}
.single-author{
    font-style: italic;
    font-size: 15px;
    margin: 20px 0px; 
}
.single-author > i {
    margin: 0px 5px;
}
.single-date{
   font-style: italic;
    font-size: 10px;
    margin: 10px 0px;  
}
.single-date > i {
    margin: 5px 0px;
}
.comment-box{
    margin: 30px;
}
.comment-box > h3{
    font-size: 20px;
}
.max-comment-card{
    margin: 20px;
}
.label {
    color: white;
    padding: 8px;
    font-size: 10px;
    border-radius: 3px;
}

.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */ 
.other {background-color: #e7e7e7; color: black;} /* Gray */

/** Login/Sign Up Page **/
.max-login-card{
    margin: 40px 0px;
    box-shadow: #eee 2px 2px 2px 2px;
}

/** Profile page **/
.max-profile-wrapper{
    margin: 100px 0px !important;
   
    
}
.max-profile-pills-nav{
    margin-right:20px;
     border: #eee 1px solid;
    padding: 50px;
    border-radius: 5px;
    box-shadow: #eee 2px 2px 2px 2px;
}
.max-profile-pills-content{
    
    border: #eee 1px solid;
    padding: 50px;
    border-radius: 5px;
    box-shadow: #eee 2px 2px 2px 2px;
}
.max-profile-card{
     box-shadow: #eee 2px 2px 2px 2px;
}
.max-image{
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
}

.max-thread-info{
    margin: 15px 0px;
    font-size: 10px
}
.max-thread-info > ul {
    width : 100%;
}
.max-thread-info > ul > li{
    display: block;
    padding: 0px 10px;
    margin-left: -30px;
    font-weight: bold;
}
.how-it-works{
    margin: 20px;
   text-decoration: underline;
  
}
.how-it-works > h3{
     padding: 10px;
}
.card-home {
    height: 300px;
    box-shadow: 2px 2px 3px 1px #c3cbd8;
}
.card-home-f{
    position: absolute;
    bottom: 0;
    margin: 20px 5px;
}
footer{
    margin: 20px;
    padding: 20px 0px;
    border: 1px solid #eee;
}
.bgSlider{
    margin:10px 0px;
}